$color-blue: #26408b;
$color-darkblue: #020221;
$color-pearl: #f4f1de;
$color-pink: #e4b4c2;
$color-gray: #fbfbfb;

$color-link: $color-blue;
$color-text-dark: $color-darkblue;
$color-text-light: $color-pearl;

$color-background-dark: $color-darkblue;
$color-background-light: $color-gray;
