$color-blue: #26408b;
$color-darkblue: #020221;
$color-pearl: #f4f1de;
$color-pink: #e4b4c2;
$color-gray: #fbfbfb;

$color-link: $color-blue;
$color-text-dark: $color-darkblue;
$color-text-light: $color-pearl;

$color-background-dark: $color-darkblue;
$color-background-light: $color-gray;

@mixin root-font($size) {
    html {
        font-size: $size;
    }
}

/* desktop++ */
@media (min-width: 1441px) {
    @include root-font(17px);
}
/* desktop+ */
@media (min-width: 1281px) and (max-width: 1440px) {
    @include root-font(15px);
}
/* tablet+ */
@media (min-width: 1024px) and (max-width: 1280px) {
    @include root-font(15px);
}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    @include root-font(15px);
}
/* phone iphone 6+ */
@media (min-width: 414px) and (max-width: 767px) {
    @include root-font(14px);
}
/* phone iphone 6 */
@media (min-width: 375px) and (max-width: 413px) {
    @include root-font(14px);
}
/* phone 360 */
@media (min-width: 360px) and (max-width: 374px) {
    @include root-font(13px);
}
/* phone 320 */
@media (max-width: 359px) {
    @include root-font(13px);
}



