@import "../../styles/variables.scss";

.Viewport {
    display: flex;
    flex-direction: column;
    color: $color-text-dark;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Row-first {
    composes: Row;
    height: 5%;
}

.Row-second {
    composes: Row;
    height: 95%;
}

.Column {
    box-sizing: border-box;
    height: 100%;
}

.Column-full {
    composes: Column;
    width: 100%;
    color: $color-text-dark;
}

.Column-left {
    composes: Column;
    width: 10%;
    background-color: $color-background-dark;
    color: $color-text-light;
}

.Column-middle {
    composes: Column;
    width: 30%;
    background-color: $color-background-light;
}

.Column-right {
    composes: Column;
    width: 60%;
}
