@import "../../styles/variables.scss";

.Viewport {
    display: flex;
    flex-direction: column;
    color: $primary;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Row-first {
    composes: Row;
    height: 5%;
}

.Row-second {
    composes: Row;
    height: 95%;
}

.Column {
    box-sizing: border-box;
    height: 100%;
}

.Column-full {
    composes: Column;
    width: 100%;
    background-color: #fefefe;
}

.Column-left {
    composes: Column;
    width: 10%;
    /* todo: import colors from ... sass? */;
    background-color: #252A3A;
    color: #eee;
}

.Column-middle {
    composes: Column;
    width: 30%;
    background-color: #f3f3f3;
}

.Column-right {
    composes: Column;
    width: 60%;
}
