@import "../../styles/global.scss";

.Viewport {
    display: flex;
    flex-direction: column;
    color: $color-text-dark;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Row-first {
    composes: Row;
    height: 2.5rem;
}

.Row-second {
    composes: Row;
    height: calc(100% - 2.5rem);
}

.Column {
    box-sizing: border-box;
    height: 100%;
}

.Column-full {
    composes: Column;
    width: 100%;
    color: $color-text-dark;
}

.Column-left {
    composes: Column;
    @include grid-column-behavior(2);
    background-color: $color-background-dark;
    color: $color-text-light;
}

.Column-middle {
    composes: Column;
    @include grid-column-behavior(4);
    background-color: $color-background-light;
}

.Column-right {
    composes: Column;
    @include grid-column-behavior(6);
}
